---
layout: default
title: Mist Of Eden
---

<!-- add/sponsorship prompt -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Your Ad Goes Here</h3>
    </div>
    <div class="panel-body">
        <p>
            <a href="mailto:{{ site.email }}?subject=Sponsor/Add Inquiry">Contact us to inquire about sponsoring or placing an ad with us.</a>
        </p>
    </div>
</div>

<div class="panel panel-default article-eic">

    {% for post in site.categories.eic limit: 1 %}
    <div class="panel-heading">
        <h3>{{ post.title }}</h3>
        <!-- <h5>By <a href="#">{{ site.editorinchief }}</a></h5>
        <h6>{{ post.date  | date: "%b %-d, %Y" }}</h6> -->
        <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    </div>
    <div class="panel-body">
        <img src="{{ "/images/eic-profile-photo.jpg" | prepend: site.baseurl }}"
        width="64" height="64"
        alt="Photo of the Editor-in-chief">
        {{ post.content }}
    </div>
    {% endfor %}

</div>

<div>

  <h1 class="page-heading">Posts</h1>

  <ul>
    {% for post in site.posts %}
      <li>
        <span>{{ post.date | date: "%b %-d, %Y" }}</span>

        <h4>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} By {{ post.author }}</a>
        </h4>
      </li>
    {% endfor %}
  </ul>

</div>
