---
layout: default
title: Mist Of Eden
---

<!-- add/sponsorship prompt -->
<div class="panel panel-default blog-post-content">
    <div class="panel-heading">
        <h3 class="panel-title">Your Ad Goes Here</h3>
    </div>
    <div class="panel-body">
        <p>
            <a href="mailto:{{ site.email }}?subject=Sponsor/Add Inquiry">Contact us to inquire about sponsoring or placing an ad with us.</a>
        </p>
    </div>
</div>

<div class="panel panel-default article-eic">

    {% for post in site.categories.eic limit: 1 %}
    <div class="panel-heading">
        <a href="{{ post.url }}">
            <h3 class="panel-title">{{ post.title }}</h3>
        </a>
        <!-- <h5>By <a href="#">{{ site.editorinchief }}</a></h5>
        <h6>{{ post.date  | date: "%b %-d, %Y" }}</h6> -->
        <p class="blog-post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    </div>
    <article class="panel-body blog-post-content">
        <div class="thumb">
            <a href="{{ post.url }}">
                <img src="{{ "/images/eic-profile-photo.jpg" | prepend: site.baseurl }}"
                width="64" height="64"
                alt="Photo of the Editor-in-chief">
            </a>
        </div>
        <p>{{ post.excerpt | strip_html }}<a href="{{ post.url }}">...read more</a></p>

    </article>
    {% endfor %}

</div>

{% for post in site.posts %}
    {% if post.category != "eic" %}
<div class="panel panel-default article-post">
    <div class="panel-heading">
        <a href="{{ post.url }}">
            <h3 class="panel-title">{{ post.title }}</h3>
        </a>
        <p class="blog-post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    </div>
    <article class="panel-body blog-post-content">
        <div class="thumb">
            <a href="{{ post.url }}">
                <img src="{{ post.og-image | prepend: site.baseurl }}"
                width="64" height="64"
                alt="Article photo">
            </a>
        </div>
        <p>{{ post.excerpt | strip_html }}<a href="{{ post.url }}">...read more</a></p>
    </article>
</div>
    {% endif %}
{% endfor %}
