<footer class="blog-footer">
    <div>
        <ul class="list-inline">
          <li>
              <span class="icon-large icon-envelope socialmedia-icon"></span>
              <span>{{ site.email }}</span>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UCOEVj-vXLLwSGZTyEvdGGbA" target="_blank">
              <span class="icon-large icon-youtube socialmedia-icon"></span>
              <span>{{ site.youtubechannel_name }}</span>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
              <span class="icon-large icon-twitter socialmedia-icon"></span>
              <span>{{ site.twitter_username }}</span>
            </a>
          </li>
        </ul>
    </div>
    <p>Much thanks to Jan Kovarik for the amazing <a href="http://www.glyphicons.com/">GLYPHICONS</a> used throughout the Mist Of Eden website.</p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>
