<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="creator" content="{{ site.creator }}">
    <meta name="publisher" content="{{ site.publisher }}">
    <meta name="googlebot" content="{{ site.googlebot }}">
    <meta name="robots" content="{{ site.robots }}">
    <meta name="slurp" content="{{ site.slurp }}">

    <!-- Social Media Meta Tags -->

    <!-- Open Graph data -->
    <meta property="og:title" content="{{ page.title }}">
    {% if page.url contains "/posts/" %}
    <meta property="og:type" content="article">
    {% else %}
    <meta property="og:type" content="website">
    {% endif %}
    <meta property="og:url" content="http://mistofeden.github.io{{ page.url }}">
    <meta property="og:image" {% if page.og-image != null %}content="http://mistofeden.github.io{{ page.og-image }}"{% else %}content="http://mistofeden.github.io{{ site.siteImg }}"{% endif%}>
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:site_name" content="Mist Of Eden">
    <!-- End Open Graph data -->

    <!-- End Social Media Meta Tags -->

    <!-- fb social plugins meta tags -->
    {% if page.url contains "/posts/" %}
    <meta property="fb:admins" content="689068720"/>
    {% endif %}
    <!-- end fb social plugins meta tags -->

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <!-- <link rel="icon" href=""> -->
    <link rel="canonical" href="http://mistofeden.github.io{{ page.url }}">

    <!-- All style sheets including Bootstrap -->
    <link href="{{ "/css/site.css" | prepend: site.baseurl }}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/js/lib/bootstrap/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% if page.url contains 'posts/' %}
    <!--  colorbox (a lightbox jquery plugin) css -->
    <link rel="stylesheet" href="{{ "/js/lib/colorbox/colorbox.css" | prepend: site.baseurl }}">
    {% endif %}
  </head>
