<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item active" href="{{ "/" | prepend: site.baseurl }}">Home</a>
            <a class="blog-nav-item" href="{{ "/advocacy/" | prepend: site.baseurl }}">Avocacy</a>
            <a class="blog-nav-item" href="{{ "/reviews/" | prepend: site.baseurl }}">Hardware/E-Juice Reviews</a>
            <a class="blog-nav-item" href="{{ "/safetyandhealth/" | prepend: site.baseurl }}">Safety/Health</a>
            <a class="blog-nav-item" href="{{ "/interviews/" | prepend: site.baseurl }}">Interviews</a>
            <a class="blog-nav-item" href="{{ "/guestarticles/" | prepend: site.baseurl }}">Guest Articles</a>
        </nav>
    </div>
</div>
