<div class="container-fluid overlay">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <p>Mist Of Eden</p>
                </div>
                <div class="modal-body text-center">
                    <p>You Must Be Of Legal Age To Vape To Enter This Site</p>
                    <button id="legalage" type="button" class="btn btn-success">I am of legal age to vape</button>
                    <button id="notlegalage" type="button" class="btn btn-warning">I am not of legal age to vape</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
