<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include masthead.html %}

    <div class="container">

        {% include header.html %}

        <div class="row">

            <div class="col-sm-8 blog-main">

                {% if page.title == "Mist Of Eden" %}
                <img class="img-responsive site-img" src="{{ site.siteImg | prepend: site.baseurl }}" alt="">
                {% endif %}

                <div class="blog-page-advocacy">
                    <a href="http://casaa.org/Become_a_Member.html" target="_blank">
                        <img class="img-responsive" src="{{ "/images/casaa-banner.gif" | prepend: site.baseurl }}" alt="CASSA imge" title="Fight for your right to vape. Join CASAA.">
                    </a>
                </div>

                {{ content }}

            </div>

            <div class="col-sm-3 col-sm-offset-1 blog-sidebar">

                <div class="sidebar-module sidebar-module-inset">
                    <h4>About</h4>
                    <p>{{ site.about }}</p>
                </div>
                <div class="sidebar-module">
                    {% include archives.html %}
                </div>
                <div class="sidebar-module">
                    <h4>Elsewhere</h4>
                    <!-- <ol class="list-unstyled">
                        <li><a href="#">GitHub</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Facebook</a></li>
                    </ol> -->

                    <ol class="list-unstyled">
                        <li>
                            <a href="mailto:{{ site.email }}">
                                <span class="icon-large icon-envelope socialmedia-icon"></span>
                                <span>Email</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ site.facebook_pageurl}}" target="_blank">
                                <span class="icon-large icon-facebook socialmedia-icon"></span>
                                <span>{{ site.facebook_pagename }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ site.youtube_channelurl}}" target="_blank">
                                <span class="icon-large icon-youtube socialmedia-icon"></span>
                                <span>{{ site.youtube_channelname }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
                                <span class="icon-large icon-twitter socialmedia-icon"></span>
                                <span>{{ site.twitter_username }}</span>
                            </a>
                        </li>
                    </ol>
                </div>

            </div>

        </div>

    </div>

    {% include footer.html %}

</body>

</html>
