---
layout: default
---
<div id="fb-root"></div>
<script>
window.fbAsyncInit = function() {
    "use strict";
    FB.init({
        appId      : "178199165847211",
        xfbml      : true,
        version    : "v2.4"
    });
};

(function(d, s, id){
    "use strict";
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
}(document, "script", "facebook-jssdk"));
</script>

<div class="blog-post">

    <article class="blog-post-content">
        {% if page.authorImg %}
            <img src="{{ page.authorImg | prepend: "/images/" | prepend: site.baseurl }}"
            width="128" height="128" alt="Author's photo">
        {% endif %}
        {{ content }}
    </article>

    <div class="facebook-like">
        <div class="fb-like" data-href="http://mistofeden.github.io{{page.url}}"
        data-layout="standard" data-action="like" data-show-faces="true" data-share="true">
        </div>
    </div>

    <div class="facebook-comments">
        <div class="fb-comments" data-href="http://mistofeden.github.io{{page.url}}" data-numposts="5" data-width="100%" data-order-by="reverse_time"></div>
    </div>

</div>
